.container {
  color: #b3b3b3;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  gap: 16px;
}

.container:hover {
  background-color: #282828;
}

.img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.title {
  font-weight: 700;
  width: 160px;
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  font-size: 13px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media only screen and (max-width: 814px) {
  .container {
    width: 160px;
  }

  .img {
    width: 160px;
    height:160px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }

  .img {
    width: 50px;
    height: 50px;
  }

  .textContainer {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .title {
    width:100%;
    text-align: start;
  }
}

/* @media only screen and (max-width: 665px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 12px;
  }
} */