.container{
    /* background-color: #121212; */
    color: white;
    height: 100%;
    padding: 8px;
    background-color: #121212;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

