.container{
    /* background-color: #121212; */
    width: 80%;
    color: white;
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    margin-top: 10px;
    border-radius: 5px;
}