.container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

}
.row{
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
  
    
}


.title{
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
}
.title:hover{
    text-decoration: underline;
}