.container{
    height: auto;
}
.row{
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    display: block;
    cursor: pointer;
}
.title:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 5px;
        height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .title{
        font-size: 16px;
        margin-bottom: 12px;
    }
    
}