.container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    height: 100vh;
    top: 0;
    margin-right: 8px;
}
@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
        height: auto;
        margin: 0;
    }
}