.container {
    background-color: #121212;
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.item{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    color: rgb(90, 90, 90);
}
.item:hover{
    color: rgb(238, 215, 215);
}
.icon{
    font-size: 24px;
}
.menu{
    display: none;
    color: rgb(90, 90, 90);

    cursor: pointer;
    font-size: 40px;

}
.menu:hover{
    color: rgb(238, 215, 215);
}

.selected{
    color: red;
}
@media only screen and (max-width: 768px) {
    .container{
        background-color: black;
        display: flex;
        flex-direction: row;
        height: 40px;
        justify-content: space-around;
        gap: 0;
        margin-bottom: 4px;
    }
    .item{
        font-size: 12px;
    }
    .item p{
        display: none;
    }
    .item span{
        font-size: 40px;
    }
    .menu{
        display: inline;
    }
}